#containerOfMiniMenu {
      transition: max-height 1s;
      overflow: hidden;
      max-height: 0;
      visibility: hidden;


      display: none;
      // display: grid;
      align-content: space-around;
      width: 100%;
      background-color: #181D2B;
      padding-left: 20px;
      box-sizing: border-box;

      nav {
            display: grid;
            width: 50%;
            min-height: 50vh;
            margin-top: 11vh;
            box-sizing: border-box;

            .linkContainerForMiniMenu {
                  width: 10%;

                  a {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-family: sans-serif;
                        font-size: 17px;
                        font-size: 22px;
                        transition: 1s;
                  }

                  a:hover {
                        transition: 1s;
                        font-size: 23px;
                        color: #2166FF;
                  }

                  #iconForPages {
                        width: 10px;
                        height: 10px;
                        margin-left: 5px;
                        transition: 1s;
                  }
            }

            .linkContainerForMiniMenu:hover>#iconForPages {
                  transform: rotate(45deg);
                  transition: 1s;
                  cursor: pointer;
            }

            #pagesToggleForMiniMenu {
                  display: grid;
                  grid-template-columns: repeat(2, auto);
            }

            #pagesSideInMiniMenu {
                  width: 0;
                  height: 0;
                  display: grid;
                  grid-template-columns: repeat(2, auto);
                  justify-content: start;
                  margin: 3%;
                  box-sizing: border-box;
            }

            #pagesSideInMiniMenu div {
                  // display: grid;
                  // grid-template-columns: repeat(2, auto);
                  width: 75vw;
                  height: auto;
                  position: static;
                  padding: 1px 13px;
                  box-sizing: border-box;
            }
      }

      #headerButtonForMiniMenu {
            margin: 0 15px;
            transition: 0.3s;
            box-sizing: border-box;

            button {
                  display: grid;
                  place-self: center;
                  align-content: center;
                  align-items: center;
                  background-color: #2166FF;
                  color: white;
                  border: none;
                  cursor: pointer;
                  border-radius: 100px;
                  padding: 25px 20px;
                  width: calc(100% - 20px);
                  height: 10px;
                  box-sizing: border-box;
            }
      }

      #headerButtonForMiniMenu:hover {
            transition: 0.3s;
            padding: 18px 8px;
      }
}













// .accordion {
//       &:hover {
//             .accordion-content {
//                   // If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.
//                   max-height: 300px;
//             }

//       }
// }

// .accordion-content {
//       transition: max-height 1s;
//       background: #e5feff;
//       overflow: hidden;
//       max-height: 0;
// }

// .accordion-toggle {
//       border-radius: 3px;
//       color: #fff;
//       display: block;
//       font-size: 30px;
//       margin: 0 0 10px;

// }